{% extends 'base.html.twig' %}

{% block body %}

    <section class="banner" style="background-image: url(../images/banner1.jpg);">

            <div class="banner-color">

                <h1 class="banner-title">Venez construire votre avenir avec nous</h1>

                <div class="banner-resume">
                    <p class="resume-title">Une formation pour vous</p>
                    <p class="resume-text">Formations en gestion de paye, comptabilité, fiscalité et en management, IFCAP vous accueille afin de vous professionnaliser dans ces différents domaines.</p>
                </div>

            </div>

    </section>

    <section class="about" id="a-propos">

        <h2>À propos de l’IFCAP</h2>

        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et commodo justo, at pulvinar sapien. Fusce consectetur molestie fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed id congue est. Quisque in sapien nec magna varius congue quis sed nulla. Aenean augue lorem, tempus.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum nunc vehicula porta suscipit. Morbi vitae tortor eu nisi laoreet elementum. Interdum et malesuada fames.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget condimentum ipsum, et consectetur turpis. Mauris pellentesque ut nisi a.</p>


        <div class="about-qualities">

            <div class="about-quality">
                <img src="/images/icons/certification.png" alt="" class="about-quality-icon">
                <p class="about-quality-text">Formations Certifiantes</p>
            </div>

            <div class="about-quality">
                <img src="/images/icons/ear.png" alt="" class="about-quality-icon">
                <p class="about-quality-text">Suivi personnalisé</p>
            </div>

            <div class="about-quality">
                <img src="/images/icons/degree.png" alt="" class="about-quality-icon">
                <p class="about-quality-text bac-icon">Bac au Bac +5</p>
            </div>

            <div class="about-quality">
                <img src="/images/icons/teleworking.png" alt="" class="about-quality-icon">
                <p class="about-quality-text">Aussi bien en présentiel qu’en distanciel</p>
            </div>

        </div>

    </section>


    <section class="formations">

        <h2>Nos formations</h2>

        <div class="formations-container">

            {% for i in formation %}
                <a href="{{ url('formation.show', {slug: i.nom}) }}" class="formations-card" style="background-image: url(../images/{{ i.image }});">
                    <p>{{ i.nom }}</p>
                </a>
            {% endfor %}

        </div>

        <a href=""><button class="button2">S'inscrire en formation</button></a>

    </section>
    

    <section class="avis">
    
        <h2>Les avis de nos apprenants</h2>

        <div class="avis-slider">

            <div class="avis-slider-container">

                <div class="avis-card">
                    <div class="avis-image" style="background-image: url(../images/avis1.jpg); background-position-x: 45%;"></div>
                    <div class="avis-border">
                        <div class="avis-text">
                            <p class="avis-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et commodo justo, at pulvinar sapien. Fusce consectetur molestie fermentum.</p>
                            <div class="avis-info">
                                <p>Prénom NOM</p>
                                <p>Formation Gestionnaire de Paie</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="avis-card">
                    <div class="avis-image" style="background-image: url(../images/avis2.jpg); background-position-y: 90%;"></div>
                    <div class="avis-border">
                        <div class="avis-text">
                            <p class="avis-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et commodo justo, at pulvinar sapien. Fusce consectetur molestie fermentum.</p>
                            <div class="avis-info">
                                <p>Prénom NOM</p>
                                <p>Formation Gestionnaire de Paie</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="avis-card">
                    <div class="avis-image" style="background-image: url(../images/avis3.jpg);"></div>
                    <div class="avis-border">
                        <div class="avis-text">
                            <p class="avis-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et commodo justo, at pulvinar sapien. Fusce consectetur molestie fermentum.</p>
                            <div class="avis-info">
                                <p>Prénom NOM</p>
                                <p>Formation Gestionnaire de Paie</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="avis-slider-points">
                <div class="slider-point"></div>
                <div class="slider-point"></div>
                <div class="slider-point"></div>
            </div>

        </div>

    </section>

{% endblock %}
